* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    

}

body {
    background: #1c87df;
    text-align: center;
    padding: 20px

}

h1 {
    font-size: 28px;
    margin-bottom: 10px;

}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #0d0d0d;
}
#phrase-display {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    min-height: 0px;
    margin-bottom: 0px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#rebootBtn {
    padding: 10px 24px;
    font-size: 16px;
    background: #d06254;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 0 8 rgba(0, 0, 0, 0.1);
    transition:  transform 0.2s ease, background 0.2s ease;
}

#rebootBtn:hover {
    transform: scale(1.05);
    background: #b8cd6d;
}

#moves, #timer, #runInput, #match {
    padding: 10px 15px;
    border-radius: 10px;
    background: #eff304;
    box-shadow: 0 0 8px rgba (0, 0, 0, 0.1);
    position: right;
}

#key {
    background: rgba(239, 166, 7, 0.9);
    border-radius: 15px;
    padding: 10px 10px;
    margin: 8px auto;
    max-width: 650px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    
    
}
#key h3 {
    font-size: 16px;
    margin-bottom: 14px;
    color: #0d0d0d;
}
#key-combos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    box-sizing: content-box;
}

.key-combo {
    display: flex;
    align-items: center;
    gap: 1px;
    padding: 1px;
    border-radius: 10px;
    font-size: 15px;
}

.key-glyph {
    font-size: 15px;
}

.key-id {
    font-weight: bold;
    color: #0d0d0d;
}

.container {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    margin-bottom: 20px;

}

#board {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    gap: 15px;
    justify-content: center;
    margin: 0 auto 0;
    max-width: 450px;
}

.hidden-draw {
    width: 50px;
    height: 50px;
    background: hsl(60, 17%, 98%);
    border-radius: 50px;
    border: 2px solid rgb(55, 176, 82);
    box-shadow: 0 0 8px rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 40px;
    transition: transform 0.2s ease, background 0.2s ease;

}

.hidden-draw:not(.flicked) {
    color: transparent;
}

.hidden-draw.flicked {
    transform:  scale(1.07);
    background: #f2db6a;
    color: rgb(237, 231, 72);
}

.hidden-draw.mate {
    background: #d3ffd3 !important;
    border-color: #8bd98b !important;
}

.hidden-draw:hover {
    transform: scale(1.04);
}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.07);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.modal.hidden {
    display: none;
}

.modal.content {
    background:white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
} 
.mode.btn:hover {
    transform: scale(1.05);
    background: #b8cd6d;
}